@using SharedLib

<div class="quote">
    <p><i>"@Quote.Quote"</i> - @Quote.SaidBy (@Quote.When)</p>
    @if (EditLink != null && DeleteLink != null)
    {
        <p><NavLink href=@EditLink>Edit</NavLink> or <NavLink href=@DeleteLink>Delete</NavLink> this quote</p>
    }

</div>

@code {
    [Parameter]
    public QuoteDTO Quote { get; set; }
    [Parameter]
    public string? EditLink { get; set; }
    [Parameter]
    public string? DeleteLink { get; set; }
}
